name: Run unit tests and quality checks

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Add google-services.json
        run: echo '${{ secrets.GOOGLE_SERVICES_JSON }}' > androidApp/google-services.json

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run spotless check Android
        run : ./gradlew spotlessCheck --no-configuration-cache

      - name: Run detekt check
        run : ./gradlew detekt

      - name: Run Android unit tests
        run: ./gradlew androidApp:testDebugUnitTest

      - name: Run shared module unit tests
        run: ./gradlew shared:test

      - name: Upload unit test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-results
          path: |
            androidApp/build/test-results/
            shared/build/test-results/

      - name: Upload unit test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-reports
          path: |
            androidApp/build/reports/tests/
            shared/build/reports/tests/

      - name: Publish test summary
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: |
            androidApp/build/test-results/**/*.xml
            shared/build/test-results/**/*.xml

      - name: Verify screenshot tests with Roborazzi
        run: ./gradlew androidApp:verifyRoborazziDebug --stacktrace

      - name: Upload Roborazzi report
        uses: actions/upload-artifact@v4
        with:
          name: roborazzi-report
          path: app/build/reports/roborazzi/debug/


      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        with:
          name: firebase-test-results
          path: .