name: Android CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Add google-services.json
        run: echo '${{ secrets.GOOGLE_SERVICES_JSON }}' > androidApp/google-services.json

      - name: Set up Android SDK
        uses: android-actions/setup-android@v2

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run unit tests
        run: ./gradlew testDebugUnitTest

      - name: Verify screenshot tests with Roborazzi
        run: ./gradlew app:verifyRoborazziDebug --stacktrace

      # Optional: Upload Roborazzi report as artifact
      - name: Upload Roborazzi report
        uses: actions/upload-artifact@v4
        with:
          name: roborazzi-report
          path: app/build/reports/roborazzi/debug/